:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: clamp(2rem, 2vw, 5rem);
  font-family: "Lexend Deca", sans-serif;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.card > p:nth-of-type(1) {
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.7rem;
}
.img-container {
  width: 20%;
}
.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 37.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  transition: all 0.3s ease-in-out;
}
.card {
  width: 100%;
  text-align: center;
  padding: clamp(2rem, 2vw, 5rem);
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  gap: 15px;
}
.container > .card > p {
  line-height: 1.5;
}
.sedans {
  background-color: var(--bright-orange);
  color: white;
  border-radius: 0.625rem 0.625rem 0 0;
}
.suvs {
  background-color: var(--dark-cyan);
  color: white;
}
.luxury {
  background-color: var(--very-dark-cyan);
  color: white;
  border-radius: 0 0 0.625rem 0.625rem;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
button {
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 1.5625rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  place-self: start;
}
.sedans button {
  background-color: hsl(0, 0%, 100%);
  color: var(--bright-orange);
}
.suvs button {
  background-color: hsl(0, 0%, 100%);
  color: var(--dark-cyan);
}
.luxury button {
  background-color: hsl(0, 0%, 100%);
  color: var(--very-dark-cyan);
}
.container > .card button {
  margin-top: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 56.25rem;
    height: 37.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    padding: 1.5625rem;
    font-size: 1.125rem;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 2.5rem;
  }
  .img-container {
    margin-top: 3.125rem;
    width: 40%;
  }
  .sedans {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }
  .card > p:nth-of-type(1) {
    font-size: 2rem;
  }
}
